html,
body {
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: rgb(242, 242, 242);
    display: grid;
    padding: 10px;
    grid-column-gap: 2px;
    column-gap: 2px;
    grid-row-gap: 2px;
    row-gap: 2px;
    grid-template-columns: auto 140px 140px;
    vertical-align: middle;
}

.nav-item {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.nav-link {
    color: #2A5DB0;
}

.nav-link:link {
    text-decoration: none;
}

.nav-link:visited {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link:active {
    text-decoration: underline;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    min-height: 50vh;
    flex-direction: column;
}

.search-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    min-height: 10vh;
    margin: 10px;
}

.search-submit {
    text-align: center;
}

#search-field {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 22vw;
    min-width: 340px;
    padding: 8px;
    margin: 5px;
    border-radius: 2em;
    outline: none;
    border: 2px solid;
    border-color: #2A5DB0;
    padding-left: 38px;
    padding-top: 10px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('https://vectorified.com/images/google-magnifying-glass-icon-1.png');
    background-repeat: no-repeat;
    background-position: 12px 8px;
    background-size: 16px 16px;
}

#search-field:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.button {
    size: 100px;
    padding: 3px;
    margin: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4d90fe;
    color: #FFF;
    background-image: -moz-linear-gradient(top, #4d90fe, #4787ed);
    border: 1px solid #3079ed;
    font-size: 12px;
    text-align: center;
    line-height: 100%;
    border-radius: 2px;
    height: 30px;
    min-width: 120px;
}

#logo {
    background: url(https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png) no-repeat;
    background-size: 239px 81px;
    height: 87px;
    width: 238px;
}

#logo-text {
    position: relative;
    color: #4285f4;
    font-size: 14px;
    top: 64px;
    left: 190px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

#header-line {
    border-bottom: 1px solid #ebebeb;
}

#header {
    font-family: Arial, Helvetica, sans-serif;
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

#advanced-search-leader {
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 15px;
    min-height: 42px;
    margin: 25px 35px;
    font-weight: 500;
    color: #333;
    font-family: arial,sans-serif;
}

#advanced-search-container {
    margin: 25px 35px; 
}

form {
    overflow: hidden;
}
 
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 
.advanced-search-field {
    float: left;
    width: 24vw;
    height: 25px;
    min-width: 340px;
    margin-right: 20px;
    margin: 2px;
}

.advanced-search-field:hover {
    box-shadow: 0 0 6px rgba(33, 33, 33, .2);
}

.advanced-search-submit {
    float: left;
    text-align: right;
    width: 25vw;
    margin-right: 0px;
    min-width: 359px;
    padding-left: 212px;
    padding-right: 0px;
}

.advanced-search-hint {
    display: table-cell;
    vertical-align: middle;
    color: #555;
    font-family: arial,sans-serif;
    font-size: 10px;
    height: 24px;
    padding: 2px;
}

.advanced-search-label {
    display: table-cell;
    vertical-align: middle; 
    padding-top: 6px;
    font-family: arial,sans-serif;
    font-size: 13px;
}

@media (max-width: 850px) {
    .advanced-search-hint {display: none;}
}

@media (max-width: 637px) {
    .advanced-search-submit {padding-left: 0px; width: 346px; min-width: 200px;}
}